PyMySQL~=1.0.2
Flask~=1.1.2
redis~=3.5.3

requests~=2.27.1
jsonpath~=0.82
html_testRunner~=1.2.1
flask_cors~=3.0.10
pip~=22.2.2
zlib~=1.2.12
wheel~=0.37.1
brotli~=1.0.9
openssl~=1.1.1s
cryptography~=37.0.1
py~=1.11.0
lxml~=4.9.1
tornado~=6.1
pathlib~=1.0.1
pkginfo~=1.8.2
setuptools~=63.4.1
cython~=0.29.32
future~=0.18.2
docutils~=0.18.1
kafka~=1.3.5
sqlalchemy~=1.4.39